X2D_VSProj/Debug/
X2D_VSProj/X2D_VSProj/Debug/
X2D_VSProj/ipch/
X2D_VSProj/X2D_VSProj.VC.opendb
X2D_VS/X2D_VS/Debug/vc140.idb
X2D_VS/X2D_VS.VC.opendb
X2D_VS/Debug/
X2D_VS/X2D_VS/x64/Debug/
X2D_VS/X2D_VS.VC.db
X2D_VS/X2D_VS.VC.VC.opendb
X2D_VS/.vs/X2D_VS/v14/.suo
X2D_VS/X2D_VS/Debug/
